@CHARSET "UTF-8";
table{
	width:100%;
	background-color:#ff8040;
}
td{
	background-color: #FFFFFF;
	font-family: "隶书";
	font-size: 14pt;
}
*{margin:0 auto}
#Layer1{border:1px solid #ff0000;width:300px;height:400px;}
#layer2{width:200px;height:100px;border:1px solid #ffff00;}