<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaEEDemo</display-name>
  <servlet>
    <servlet-name>regservlet</servlet-name>
    <servlet-class>com.user.reg.regservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContext</servlet-name>
    <servlet-class>com.user.reg.ServletContext</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>com.user.reg.logoutservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.user.reg.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jdbctest</servlet-name>
    <servlet-class>jdbc.jdbctest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.user.reg.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.user.reg.JsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fileupload</servlet-name>
    <servlet-class>fileprocess.fileupload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fileuploadmanually</servlet-name>
    <servlet-class>fileprocess.fileuploadmanually</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommonFileUpload</servlet-name>
    <servlet-class>fileprocess.CommonFileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.user.reg.DownloadServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/json.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileupload</servlet-name>
    <url-pattern>/fileupload.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fileuploadmanually</servlet-name>
    <url-pattern>/fileupload2.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommonFileUpload</servlet-name>
    <url-pattern>/CommonFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>





 
  <filter>
    <filter-name>CharFilter</filter-name>
    <filter-class>com.user.reg.CharFilter</filter-class>
    <init-param>
    	<param-name>encoding</param-name>
    	<param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <listener>
    <listener-class>com.user.reg.ApplicationListener</listener-class>
  </listener>



  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>